<h2>Results of your CSV Upload</h2>

<%= @import.csv.path %>

<% if @import.processed > 0 %>
	Success! This import contained <%= @import.processed %> records
	
<% else %>

<%= link_to "process", import_proc_path(@import.id) %>

<% end %>