%h1 Welcome to Eat Me
%p We are here to help you track the food you eat though-out the day. Use the search bar to find some food. Add the food to a new meal, a meal will allow you to see the nutritional value for all food added to the meal.

= button_to "create meal", new_meal_path, :method => :get
